*,
::before,
::after {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	margin: 0;
	max-inline-size: 100%;
	padding: 0;
	-webkit-text-size-adjust: none;
}

body {
	background-color: oklab(99.9% 0 0);
	block-size: 100vh;
	display: grid;
	font-family: system-ui, sans-serif;
	place-items: center;
}

mine-sweeper {
	font-family: ui-monospace, monospace;
	font-weight: bold;
	inline-size: calc(2.5em * var(--width));

	:where(.info-panel) {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		justify-content: space-between;
		padding-block: 1em;
		padding-inline: 0.3em;
	}

	:where(.flag-count) {
		display: grid;
		gap: 0.5em;
		grid-auto-flow: column;
	}

	:where(.time) {
		display: grid;
		gap: 0.5em;
		grid-auto-flow: column;
	}

	:where([role="grid"]) {
		background-color: oklab(80% 0 0);
		display: grid;
		gap: 1px;
		grid-auto-rows: auto;
		grid-template-columns: repeat(var(--width), 1fr);
		inline-size: 100%;
	}

	:where([role="row"]) {
		display: contents;
	}

	:where(button) {
		appearance: none;
		aspect-ratio: 1;
		background-color: oklab(80% 0 0);
		block-size: 100%;
		border: 0.3em outset oklab(90% 0 0);
		font-size: 1em;
		font-weight: bold;
		grid-column: var(--column);
		grid-row: var(--row);
		inline-size: 100%;

		&:where(.revealed) {
			background-color: oklab(95% 0 0);
			border-color: oklab(0% 0 0 / 0);
		}

		&:where(.armed-adjacent-count--1) {
			color: oklch(60% 0.2 120);
		}

		&:where(.armed-adjacent-count--2) {
			color: oklch(60% 0.2 90);
		}

		&:where(.armed-adjacent-count--3) {
			color: oklch(60% 0.2 60);
		}

		&:where(.armed-adjacent-count--4) {
			color: oklch(60% 0.2 30);
		}

		&:where(.armed-adjacent-count--5) {
			color: oklch(60% 0.2 0);
		}

		&:where(.armed-adjacent-count--6) {
			color: oklch(60% 0.2 330);
		}

		&:where(.armed-adjacent-count--7) {
			color: oklch(60% 0.2 300);
		}

		&:where(.armed-adjacent-count--8) {
			color: oklch(60% 0.2 270);
		}

		&:where(.flagged.revealed:not(.armed-state)) {
			--content: ;
		}
	}
}
