* {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;
}

html {
	block-size: 100%;
}

body {
	block-size: 100%;
	font-family: system-ui, sans-serif;
	font-size: 1.125em;
}

button {
	appearance: none;
	background-color: oklch(0 0 0 / 0);
	border-color: oklch(0 0 0 / 0);
	cursor: pointer;
}

to-do-app {
	accent-color: oklch(0.5 0.3 150);
	align-items: center;
	display: grid;
	gap: 0.5em;
	grid-auto-rows: max-content;
	grid-template-columns: auto min-content min-content;
	margin-block-start: 1em;
	margin-inline: auto;
	max-inline-size: 40em;
	padding-inline: 1em;
	white-space: nowrap;
}

[type="checkbox"] {
	block-size: 1em;
	cursor: pointer;
	inline-size: 1em;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.new-input {
	appearance: none;
	border: 1px solid oklch(0.5 0 0);
	border-radius: 0.25em;
	grid-column: 1 / -1;
	padding-block: 0.25em;
	padding-inline: 0.5em;
}

.list {
	display: grid;
	gap: 0.5em;
	grid-column: 1 / -1;
	grid-template-columns: max-content min-content auto max-content;
	grid-template-rows: max-content;
	list-style: none;

	> * {
		align-items: center;
		animation-duration: 0.125s;
		animation-fill-mode: both;
		background-color: oklch(1 0 0);
		border-radius: 0.25em;
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		padding-block: 0.25em;
		padding-inline: 0.25em;

		:where(:not(a, button, input)) {
			cursor: inherit;
		}

		&:where([draggable="true"]) {
			cursor: move;
		}
	}
}

.dragging {
	background-color: oklch(0.9 0 0) !important;
	cursor: move !important;

	> * {
		visibility: hidden;
	}
}

.done {
	text-decoration: line-through;
}

.leaving {
	animation-name: fade;
}

.entering {
	animation-direction: reverse;
	animation-name: fade;
}

.delete {
	appearance: none;
	background-color: oklch(0 0 0 / 0);
	block-size: 1em;
	border: 0;
	grid-column: 4;
	inline-size: 1em;

	:where(svg) {
		block-size: 1em;
		fill: oklch(0.5 0.3 30);
		inline-size: 1em;
	}
}

.footer {
	display: flex;
	font-size: 0.8em;
	grid-column: 1 / -1;
	justify-content: space-between;
	padding-block-start: 1em;
	padding-inline: 0.25em;
}

.clear-done {
	color: oklch(0.5 0.2 230);
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
